* {
    box-sizing: border-box;
    font-family: fantasy;
}

header {
    background-image: linear-gradient(to right, skyblue, midnightblue);
   color: white;
}

.forecast-card {
    background-color: midnightblue;
    color: white;
}

/* UV Index classes */
.uvi {
    color: white;
}
.low {
    background-color: green;
}
.moderate {
    background-color: yellow;
}
.high {
    background-color: orange;
}
.very-high {
    background-color: red;
}
.extreme {
    background-color: purple;
}